<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        High Vision | <%= (typeof(title) !=='undefined' ) ? title : 'Node JS Login and Registration System - W3jar' %>
    </title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="./style.css"> -->
    
    <link rel="stylesheet" href="./login.css">
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="/public/res/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/res/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href= "/public/res/favicon-16x16.png">
    <link rel="manifest" href="/res/site.webmanifest"> -->
 